.labelContainer {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  cursor: pointer;
}

/* Hide the native checkbox input visually while keeping it accessible */
.checkbox {
  position: absolute;
  height: 0px;
  width: 0px;
}

/* Custom checkbox button with unchecked state image */
.checkboxButton {
  background: url(../../assets/checkbox.png);
  height: 20px;
  width: 20px;
  background-size: contain;
  cursor: pointer;
}

/* Custom checkbox button with checked state image when input is checked */
.checkbox:checked ~ .checkboxButton {
  background: url(../../assets/checkedbox.png);
  height: 20px;
  width: 20px;
  background-size: contain;
  cursor: pointer;
}

/* Strike through the todo title text when checkbox is checked */
.checkbox:checked ~ span {
  text-decoration: line-through;
}