.labelContainer {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  cursor: pointer;
}

/* Hide the native checkbox input visually while keeping it accessible */
.checkbox {
  position: absolute;
  height: 0px;
  width: 0px;
}

/* On checkbox focus, ensure that the label gets outlined for better accessibility */
.checkbox:focus ~ .checkboxButton {
  outline: 3px solid Highlight !important;
  outline-offset: 2px;
}

/* Custom checkbox button with unchecked state image */
.checkboxButton {
  background: url(../../assets/checkbox.png);
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: auto 0;
}

/* Custom checkbox button with checked state image when input is checked */
.checkbox:checked ~ .checkboxButton {
  background: url(../../assets/checkedbox.png);
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: auto 0;
}

/* Strike through the todo title text when checkbox is checked */
.checkbox:checked ~ span {
  text-decoration: line-through;
}