{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed"
}
