:root {
  --font-family: 'Inter', system-ui, sans-serif;
  --secondary-font-family: 'Poppins', system-ui, sans-serif;
  --bg: #fff;
  --text: #111111;
  --border: #cccccc;
  --focus: #005fcc;
  --accent: #0066ff;
  --danger: #e65806;
  --active-link: #1a1868;
  --inactive-link: #797a88;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1a1a1a;
    --text: #eaeaea;
    --border: #444444;
    --focus: #4da3ff;
    --accent: #3399ff;
    --active-link: #6674ec;
    --inactive-link: #45537a;
  }
}

body {
  font-family: var(--font-family);
  background:
    linear-gradient(
      45deg,
      var(--bg),
      color-mix(in srgb, var(--bg) 85%, rgba(33, 34, 117, 0.247) 15%)
    ),
    url(./assets/noise.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: var(--text);
  margin: 0;
  padding: 2rem;
  line-height: 1.5;
}

h1,
h3,
h5 {
  font-family: var(--secondary-font-family);
}
h1 {
  font-size: 1.8rem;
  margin-bottom: 1.25rem;
}

#root {
  display: grid;
  justify-content: center;
}

main {
  margin: auto;
  max-width: 30em;
}