html,
body {
    background: linear-gradient(45deg, rgb(0, 255, 0), rgb(0, 204, 255));
    background-attachment: fixed;
    color: #333;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    padding: 5vw;
    margin: auto 5em;
}